<!DOCTYPE html>
<html lang="en">
<head>
	<title>汪文博的个人主页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="shortcut icon" href="assets/images/ice.png" type="image/x-icon"/>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/aos.css">
	<link rel="stylesheet" href="assets/css/icomoon.css">
	<link rel="stylesheet" href="assets/css/index_zh.css">
	<style>
		[v-clock] {
			display: none;
		}
	</style>
</head>
<body id="top" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
<div id="vue" v-clock>
<!--顶部导航栏-->
<header>
	<div class="profile-page sidebar-collapse">
		<nav class="navbar navbar-expand-lg fixed-top bg-primary navbar-transparent" color-on-scroll="400">
			<div class="container">
				<div class="navbar-translate">
					<a class="navbar-brand" href="#" rel="tooltip" data-original-title title>汪文博的个人主页</a>
					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-bar bar1"></span>
						<span class="navbar-toggler-bar bar2"></span>
						<span class="navbar-toggler-bar bar3"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse justify-content-end" id="navigation">
					<ul class="navbar-nav">
						<li class="nav-item" id="nav-about">
							<a class="nav-link smooth-scroll" href="#about">关于</a>
						</li>
						<li class="nav-item" id="nav-skill">
							<a class="nav-link smooth-scroll" href="#skill">技能</a>
						</li>
						<li class="nav-item" id="nav-portfolio">
							<a class="nav-link smooth-scroll" href="#portfolio">展示</a>
						</li>
						<li class="nav-item" id="nav-experience">
							<a class="nav-link smooth-scroll" href="#experience">经历</a>
						</li>
						<li class="nav-item" id="nav-contact">
							<a class="nav-link smooth-scroll" href="#contact">联系</a>
						</li>
						<li class="nav-item" id="nav-index">
							<a class="nav-link" href="index.html">切换到旧版主页</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>

<!--内容主体区域-->
<div class="page-content">
	<!--名片页-->
	<div class="profile-page">
		<div class="wrapper">
			<div class="page-header page-header-smail">
				<!--背景图-->
				<div class="page-header-image" data-parallax="true"></div>
				<!--内容-->
				<div class="container">
					<div class="content-center">
						<!--头像-->
						<div class="cc-profile-image">
							<a href="#"><img src="assets/images/me.jpg" alt="Image"></a>
						</div>
						<!--文字-->
						<div class="h2 title">汪文博（Wenbo Wang）</div>
						<p class="category text-white">{{info.identity}}</p>
						<!--联系我-->
						<a class="btn btn-primary smooth-scroll mr-2 aos-init aos-animate" href="#contact" data-aos="zoom-in">联系我</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--关于-->
	<div class="section" id="about">
		<div class="container">
			<div class="card aos-init aos-animate" data-aos="fade-up" data-aos-offset="10">
				<div class="row">
					<!--关于部分-->
					<div class="col-lg-6 col-md-12">
						<div class="card-body">
							<div class="h4 mt-0 title">关于</div>
							<p>{{info.about_1}}</p>
							<p>{{info.about_2}}</p>
						</div>
					</div>
					<!--基本信息部分-->
					<div class="col-lg-6 col-md-12">
						<div class="card-body">
							<div class="h4 mt-0 title">基本信息</div>
							<div class="row">
								<div class="col-sm-4">
									<strong class="text-uppercase">年龄：</strong>
								</div>
								<div class="col-sm-8">{{info.age}}</div>
							</div>
							<div class="row mt-3">
								<div class="col-sm-4">
									<strong class="text-uppercase">邮箱:</strong>
								</div>
								<div class="col-sm-8">
									<a href="mailto:1624949784@qq.com">{{info.email}}</a>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-sm-4">
									<strong class="text-uppercase">QQ：</strong>
								</div>
								<div class="col-sm-8">{{info.QQ}}</div>
							</div>
							<div class="row mt-3">
								<div class="col-sm-4">
									<strong class="text-uppercase">微信：</strong>
								</div>
								<div class="col-sm-8">{{info.weixin}}</div>
							</div>
							<div class="row mt-3">
								<div class="col-sm-4">
									<strong class="text-uppercase">地址：</strong>
								</div>
								<div class="col-sm-8">{{info.address}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--技能-->
	<div class="section" id="skill">
		<div class="container">
			<div class="h4 text-center mb-4 title">专业技能</div>
			<div class="card aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
				<div class="card-body">
					<div class="row" v-for="sk in info.skill">
						<div class="col-md-6" v-for="item in sk">
							<div class="progress-container progress-primary">
								<span class="progress-badge">{{item.name}}</span>
								<div class="progress">
									<div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full"
									data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
									aria-valuemax="100" v-bind:style="{width: item.progress}"></div>
									<span class="progress-value">{{item.progress}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--展示-->
	<div class="section" id="portfolio">
		<div class="container">
			<div class="h4 text-center mb-4 title">项目展示</div>
			<div class="tab-content gallery">
				<div class="tab-pane active">
					<div class="ml-auto mr-auto">
						<div class="row">
							<div class="col-md-4" v-for="dis in info.display">
								<div v-for="item in dis" class="cc-porfolio-image img-raised aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
									<a v-bind:href="item.url" target="_blank">
										<figure class="cc-effect">
											<img v-bind:src="item.image" width="100%" alt="csdn" />
											<figcaption>
												<div class="h4">{{item.title}}</div>
												<p>{{item.description}}</p>
											</figcaption>
										</figure>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--工作经历-->
	<div class="section" id="experience">
		<div class="container cc-experience">
			<div class="h4 text-center mb-4 title">工作经历</div>
			<div class="card" v-for="exper in info.experience">
				<div class="row">
					<div class="col-md-3 bg-primary aos-init aos-animate" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
						<div class="card-body cc-experience-header">
							<p>{{exper.time}}</p>
							<div class="h5">{{exper.company}}</div>
						</div>
					</div>
					<div class="col-md-9 aos-init aos-animate" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
						<div class="card-body">
							<div class="h5">{{exper.job}}</div>
							<p></p>
							<ul>
								<li  v-for="con in exper.content">{{con.period}}</li>
							</ul>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--项目经历-->
	<div class="section" id="project">
		<div class="container cc-project">
			<div class="h4 text-center mb-4 title">项目经历</div>
			<div class="card" v-for="pro in info.project">
				<div class="row">
					<div class="col-md-3 bg-primary aos-init aos-animate" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
						<div class="card-body cc-project-header">
							<p>{{pro.time}}</p>
							<div class="h5">{{pro.company}}</div>
						</div>
					</div>
					<div class="col-md-9 aos-init aos-animate" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
						<div class="card-body">
							<div class="h5">{{pro.name}}</div>
							<p>{{pro.intro}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--联系-->
	<div class="section" id="contact">
		<div class="cc-contact-information">
			<div class="container">
				<div class="cc-contact">
					<div class="row">
						<div class="col-md-9">
							<div class="card mb-0 aos-init aos-animate" data-aos="zoom-in" id="contactContainer">
								<div class="h4 text-center title">联系我</div>
								<div class="row">
									<!--左半部分-->
									<div class="col-md-6">
										<div class="card-body">
											<form action="#" method="post" id="emailForm">
												<div class="p pb-3">
													<strong>欢迎随时联系我</strong>
												</div>
												<div class="row mb-3">
													<div class="col">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="icon-copy"></i>
															</span>
															<input class="form-control" type="text" name="subject" placeholder="主题" required="required"  />
														</div>
													</div>
												</div>
												<div class="row mb-3">
													<div class="col">
														<div class="form-group">
															<textarea class="form-control" name="body" placeholder="说点什么" required rows="4"></textarea>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<button class="btn btn-primary" id="sendEmail">提交</button>
													</div>
												</div>
											</form>
										</div>
									</div>
									<!--右半部分-->
									<div class="col-md-6">
										<div class="card-body">
											<p class="mb-0">
												<strong>地址</strong>
											</p>
											<p class="pb-2">{{info.address}}</p>
											<p class="mb-0">
												<strong>邮箱</strong>
											</p>
											<p>
												<a href="mailto:1624949784@qq.com">{{info.email}}</a>
											</p>
											<p class="mb-0">
												<strong>微信 / QQ</strong>
											</p>
											<p class="pb-2">
												<img width="50%" src="assets/images/weixin.png" style="float: left;" />
												<img width="50%" src="assets/images/QQ.png" style="float: left;" />
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--底部区域-->
<footer class="footer">
	<div class="text-center text-muted">
		<p>
			汪文博的个人主页
			<a href="https://qtxsnwwb.github.io/index_zh.html">https://qtxsnwwb.github.io/index_zh.html</a>
		</p>
	</div>
</footer>

</div>

<script src="assets/js/vue.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/now-ui-kit.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/index_zh.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
var vm = new Vue({
	el: '#vue',
	data() {
		return {
			info: {
				identity: null,
				about_1: null,
				about_2: null,
				age: null,
				email: null,
				QQ: null,
				weixin: null,
				address: null,
				skill: null,
				project: null,
				experience: null,
				display: null
			}
		}
	},
	mounted() {
		axios.get("assets/json/index_zh.json").then(response=>(this.info=response.data));
	}
});

</script>
</body>
</html>