div {
	display: block;
}

body {
	color: #2c2c2c;
	font-size: 14px;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
}

form {
	display: block;
	margin-top: 0em;
}

input {
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
	appearance: auto;
	-webkit-rtl-ordering: logical;
	cursor: text;
	font: 400 13.3333px Arial;
}

textarea {
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
	appearance: auto;
	-webkit-rtl-ordering: logical;
	flex-direction: column;
	cursor: text;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	column-count: initial !important;
	font: 400 13.3333px Arial;
}

h4, .h4 {
	font-size: 1.714em;
	line-height: 1.45em;
	margin-top: 30px;
	margin-bottom: 15px;
}

.navbar.navbar-transparent {
	background-color: transparent !important;
	box-shadow: none;
	color: #FFFFFF;
	padding-top: 20px;
}

.navbar {
	font-size: 18px;
	letter-spacing: 1px;
	padding-bottom: 0.625rem;
	min-height: 53px;
	margin-bottom: 20px;
}

ul.navbar-nav {
	margin-top: 0;
}

.nav-pills .nav-link .nav-item .navbar .nav-tabs {
	transition: all 300ms ease 0s;
}

.navbar a:not(.btn):not(.dropdown-item) {
	color: #FFFFFF;
}

.navbar .navbar-brand {
	text-transform: uppercase;
	font-size: 0.8571em;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	line-height: 1.625rem;
}

.navbar a {
	vertical-align: middle;
}

.navbar .navbar-toggler {
	width: 37px;
	height: 27px;
	outline: 0;
	cursor: pointer;
}

.navbar .navbar-toggler.navbar-toggler-left {
  position: relative;
  left: 0;
  padding-left: 0;
}

.navbar .navbar-toggler:hover .navbar-toggler-bar.bar2 {
  width: 22px;
}

.navbar .button-dropdown .navbar-toggler-bar:nth-child(2) {
  width: 17px;
}

.sidebar-collapse .navbar .navbar-toggler-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #FFFFFF;
  }
  .sidebar-collapse .navbar .navbar-toggler-bar + .navbar-toggler-bar {
    margin-top: 7px;
  }
  .sidebar-collapse .navbar .navbar-toggler-bar.bar2 {
    width: 17px;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
  }
  .sidebar-collapse .navbar.bg-white:not(.navbar-transparent) .navbar-toggler-bar {
    background: #888;
  }
  .sidebar-collapse .navbar .toggled .navbar-toggler-bar {
    width: 24px;
  }
  .sidebar-collapse .navbar .toggled .navbar-toggler-bar + .navbar-toggler-bar {
    margin-top: 5px;
  }
  .sidebar-collapse .bar1,
  .sidebar-collapse .bar2,
  .sidebar-collapse .bar3 {
    outline: 1px solid transparent;
  }
  .sidebar-collapse .bar1 {
    top: 0px;
    -webkit-animation: topbar-back 500ms linear 0s;
    animation: topbar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .sidebar-collapse .bar2 {
    opacity: 1;
  }
  .sidebar-collapse .bar3 {
    bottom: 0px;
    -webkit-animation: bottombar-back 500ms linear 0s;
    animation: bottombar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .sidebar-collapse .toggled .bar1 {
    top: 6px;
    -webkit-animation: topbar-x 500ms linear 0s;
    animation: topbar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .sidebar-collapse .toggled .bar2 {
    opacity: 0;
  }
  .sidebar-collapse .toggled .bar3 {
    bottom: 6px;
    -webkit-animation: bottombar-x 500ms linear 0s;
    animation: bottombar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes topbar-x {
    0% {
      top: 0px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    45% {
      top: 6px;
      -webkit-transform: rotate(145deg);
              transform: rotate(145deg);
    }
    75% {
      -webkit-transform: rotate(130deg);
              transform: rotate(130deg);
    }
    100% {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
  @-webkit-keyframes topbar-x {
    0% {
      top: 0px;
      -webkit-transform: rotate(0deg);
    }
    45% {
      top: 6px;
      -webkit-transform: rotate(145deg);
    }
    75% {
      -webkit-transform: rotate(130deg);
    }
    100% {
      -webkit-transform: rotate(135deg);
    }
  }
  @keyframes topbar-back {
    0% {
      top: 6px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    45% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    75% {
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg);
    }
    100% {
      top: 0px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @-webkit-keyframes topbar-back {
    0% {
      top: 6px;
      -webkit-transform: rotate(135deg);
    }
    45% {
      -webkit-transform: rotate(-10deg);
    }
    75% {
      -webkit-transform: rotate(5deg);
    }
    100% {
      top: 0px;
      -webkit-transform: rotate(0);
    }
  }
  @keyframes bottombar-x {
    0% {
      bottom: 0px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    45% {
      bottom: 6px;
      -webkit-transform: rotate(-145deg);
              transform: rotate(-145deg);
    }
    75% {
      -webkit-transform: rotate(-130deg);
              transform: rotate(-130deg);
    }
    100% {
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
    }
  }
  @-webkit-keyframes bottombar-x {
    0% {
      bottom: 0px;
      -webkit-transform: rotate(0deg);
    }
    45% {
      bottom: 6px;
      -webkit-transform: rotate(-145deg);
    }
    75% {
      -webkit-transform: rotate(-130deg);
    }
    100% {
      -webkit-transform: rotate(-135deg);
    }
  }
  @keyframes bottombar-back {
    0% {
      bottom: 6px;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
    }
    45% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    75% {
      -webkit-transform: rotate(-5deg);
              transform: rotate(-5deg);
    }
    100% {
      bottom: 0px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @-webkit-keyframes bottombar-back {
    0% {
      bottom: 6px;
      -webkit-transform: rotate(-135deg);
    }
    45% {
      -webkit-transform: rotate(10deg);
    }
    75% {
      -webkit-transform: rotate(-5deg);
    }
    100% {
      bottom: 0px;
      -webkit-transform: rotate(0);
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


button {
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	text-indent: 0px;
	text-shadow: none;
	text-align: center;
	align-items: flex-start;
	font: 400 13.3333px Arial;
}

ul {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.navbar .navbar-nav .nav-link:not(.btn) {
	text-transform: uppercase;
	font-size: 0.7142em;
	padding: 0.5rem 0.7rem;
	line-height: 1.625rem;
}

a:-webkit-any-link {
	cursor: pointer;
}

#nav-about:hover, #nav-skill:hover, #nav-portfolio:hover, #nav-experience:hover, #nav-contact:hover, #nav-index:hover {
	background-color: rgba(222, 222, 222, 0.3);
}
	

.page-header.page-header-smail {
	height: 60vh;
	max-height: 440px;
}

.profile-page .page-header {
	min-height: 550px;
}

.page-header {
	background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(55, 140, 63, 0.6));
	padding: 0;
	color: #FFFFFF;
	position: relative;
}

.page-header .page-header-image {
	background-image: url("../images/bg_9.jpg");
	transform: translate3d(0px, 0px, 0px);
	position: absolute;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}

.page-header .container > .content-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0 15px;
	color: #FFFFFF;
	width: 100%;
	max-width: 880px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0.0;
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0.0;
  }
}

.cc-profile-image a {
	position: relative;
}

.cc-profile-image a:before {
  content: "";
  border: 15px solid rgba(9, 69, 235, 0.6);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
  left: 0;
  -webkit-animation: pulsate 1.6s ease-out;
          animation: pulsate 1.6s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0.0;
  z-index: 99;
}

.cc-profile-image img {
	position: relative;
	border-radius: 50%;
	height: 180px;
	width: 180px;
	padding: 0;
	margin: 0;
	border: 15px solid transparent;
	z-index: 9999;
	transition: all .3s ease-out;
}

.cc-profile-image a:hover img {
  -webkit-transform: scale(1.06, 1.06);
          transform: scale(1.06, 1.06);
}

.cc-profile-image a:hover:before {
  -webkit-animation: none;
          animation: none;
}

img {
	max-width: 100%;
	vertical-align: middle;
	border-radius: 1px;
	border-style: none;
}

.profile-page .title {
	text-align: center;
	margin-top: 30px;
}

.title {
	font-weight: 700;
}

h2, .h2 {
	font-size: 2.5em;
	margin-bottom: 30px;
}

.profile-page .description, .profile-page .category {
	text-align: center;
}

.title + .category {
	margin-top: 0px;
}

.category {
	text-transform: uppercase;
	font-weight: 700;
}

p {
	line-height: 1.61em;
	margin-bottom: 1rem;
}

.page-header .btn {
	width: 140px;
}

.btn-primary {
	/* background-color: #378C3F; */
	color: #FFFFFF;
}

.btn, .navbar .navbar-nav > a.btn {
	border-width: 2px;
	font-weight: 400;
	font-size: 0.8571em;
	line-height: 1.35em;
	margin: 5px 1px;
	border: none;
	border-radius: 0.1875rem;
	padding: 11px 22px;
	cursor: pointer;
}
 
.section {
	padding: 70px 0;
	padding-bottom: 0;
	position: relative;
	background: #FFFFFF;
}

.card .card-body {
	min-height: 190px;
}

.card {
	border: 0;
	border-radius: 0.1875rem;
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}

.title {
	font-weight: 700;
}

.progress-container {
	margin-bottom: 20px;
	font-size: 18px;
	position: relative;
}

.progress-container.progress-primary .progress-value, .progress-container.progress-primary .progress-badge {
	color: #378C3F;
}

.progress-container .progress-badge {
	font-size: 0.8571em;
	text-transform: uppercase;
}

.progress-container.progress-primary .progress {
	background: rgba(55, 140, 63, 0.4);
}

.progress-container .progress {
	height: 5px;
	font-size: 18px;
	border-radius: 0;
	box-shadow: none;
	margin-top: 14px;
}

.progress-container.progress-primary .progress-bar {
	background: #378C3F;
}

.progress-container .progress .progress-bar {
	box-shadow: none;
}

.progress-container .aos-animate {
	transform: scaleX(1);
}

.progress-container .progress-bar {
	height: 5px;
	transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
	transition-property: transform , -webkit-transform;
	transition-delay: 0s, 0s;
	transform-origin: 0% 0%;
}

.progress-container .progress .progress-value {
	position: absolute;
	top: 2px;
	right: 0;
	font-size: 0.8571em;
}

.img-raised {
	box-shadow: 0px 10px 25px 0px rgb(0 0 0 / 30%);
}

.gallery .cc-porfolio-image figure {
	position: relative;
	overflow: hidden;
	text-align: center;
}

.gallery figure.cc-effect img, .gallery figure.cc-effect figcaption::before, .gallery figure.cc-effect figcaption::after, .gallery figure.cc-effect p {
	transition: opacity 0.35s, transform 0.35s, -webkit-tansform 0.35s; 
}

.gallery figure.cc-effect img, .gallery figure.cc-effect .h4 {
	transform: scale(1.06, 1.06);
}

.gallery .cc-porfolio-image figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 1;
	height: 270px;
}

.gallery .cc-porfolio-image figure figcaption, .gallery .cc-porfolio-image figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gallery .cc-porfolio-image figure figcaption {
	color: #fff;
	backface-visibility: hidden;
}

.gallery figure.cc-effect .h4 {
	margin-top: 25%;
	transition: transform 0.35s, -webkit-transform 0.35s;
	opacity: 0;
}

figcaption {
	padding-top: 25%;
}

.gallery .cc-porfolio-image figure .h4, .gallery .cc-porfolio-image figure p {
	margin: 0;
}

.gallery figure.cc-effect p, .gallery figure.cc-effect button {
	padding: 0.5em 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: 0;
}

.gallery .cc-porfolio-image figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after {
  position: absolute;
  content: '';
  opacity: 0;
}

.gallery figure.cc-effect figcaption::before {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.gallery figure.cc-effect figcaption::after {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

@media (max-width: 480px) {
  .gallery figure.cc-effect .h4 {
    font-size: 14px;
  }
}

.gallery figcaption .container {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.gallery figure.cc-effect p,
.gallery figure.cc-effect button {
  padding: 0.5em 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  opacity: 0;
}

.gallery figure.cc-effect img,
.gallery figure.cc-effect .h4 {
  -webkit-transform: scale(1.06, 1.06);
  transform: scale(1.06, 1.06);
}

.gallery figure.cc-effect img,
.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after,
.gallery figure.cc-effect p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

.gallery figure.cc-effect:hover img {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.gallery figure.cc-effect:hover figcaption::before,
.gallery figure.cc-effect:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.gallery figure.cc-effect:hover figcaption:before {
  background: rgba(27, 23, 23, 0.5);
}

.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover button {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #fff;
}

.gallery figure.cc-effect:hover figcaption::after,
.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.cc-experience .cc-experience-header {
	padding-top: 60px;
	padding-right: 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

h5, .h5 {
	font-size: 1.57em;
	line-height: 1.4em;
	margin-bottom: 15px;
}

.card-body ul {
	padding-inline-start: 1rem;
}

.card-body {
	flex: 1 1 auto;
	padding: 1.25rem;
}

.cc-project .cc-project-header {
	padding-top: 60px;
	padding-right: 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.cc-contact-information {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-image: url('../images/bg_10.jpg');
	background-size: cover;
}

.cc-contact-information .cc-contact {
	padding: 8% 0 8% 20%;
}

.input-group, .form-group {
	margin-bottom: 10px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
	border-right: 0 none;
}

.form-group .input-group-addon, .input-group .input-group-addon {
	padding: 10px 0 10px 18px;
}

.input-group-addon {
	background-color: #FFFFFF;
	border: 1px solid #E3E3E3;
	border-radius: 30px;
	color: #555555;
	transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.input-group-addon i {
	width: 17px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
	border-left: 0 none;
}

.form-group .input-group-addon + .form-control, .form-group .input-group-addon ~ .form-control, .input-group .input-group-addon + .form-control, .input-group .input-group-addon ~ .form-control {
	padding: 10px 19px 11px 16px;
}

.form-control {
	background-color: transparent;
	border: 1px solid #E3E3E3;
	border-radius: 30px;
	color: #2c2c2c;
	line-height: normal;
	font-size: 0.8571em;
	transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
	box-shadow: none;
}

.form-group {
	position: relative;
}

textarea.form-control {
	max-width: 100%;
	resize: none;
	border: none;
	border-bottom: 1px solid #E3E3E3;
	border-radius: 0;
	line-height: 2;
}

#contactContainer {
	padding-bottom: 40px;
}

.footer {
	padding: 24px 0;
}



